@import '../variables';

@mixin component-base() {
  font-family: $font;
  font-size: 15px;
}

@mixin component-input() {
  @include component-base();

  color: #000100;
  padding: 0 10px;
  line-height: 30px;
  box-sizing: border-box;
  min-width: 290px;
  border: 2px solid #7a7a7a;
  margin: 0;

  &::placeholder {
    color: #666;
  }

  &:disabled {
    background-color: transparent;
    border-color: #ccc;
    color: #999;
  }

  &:focus {
    border-color: var(--vnt-accent-color, $fallbackAccentColor);
    outline: 0;
  }
}
